<h1 class="text-center">Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">

            {{!-- loop through burger_data --}}
            {{#each burger_data}}
            {{!-- only display uneaten burgers on left side of screen --}}
            {{#unless this.devoured}}
            
            <h3>{{this.id}}. {{this.burger_name}} </h3>

            {{!-- DEVOUR IT BUTTON & HIDDEN FORM --}}
            <form class="devour-form form-inline">
                <input type="hidden" class="burger_id" value={{this.id}}>
                <button class="btn btn-danger" type="submit" class="devour">Devour This!</button>
            </form>
         
            {{/unless}}
            {{/each}}
        
        </div>
        <div class="col-md-4">
            <img src="/assets/img/burger.jpg" style="width: 323px;"/>
        </div>
        <div class="col-md-4">
            {{#each burger_data}}
            {{#if this.devoured}}
            <h3>{{this.id}}. {{this.burger_name}} </h3>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

{{!-- 'ADD A NEW BURGER' FORM --}}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form class="form text-center" method="POST" action="burgers/create">
            <div class="form-group">
                <input class="form-control form-control-large" type="text" name="burger_name" id="burger_id"></input>
            </div>
            <button type="submit" class="btn btn-success">Add a Burger</button>
            <p class="form-text">Enter the name of a burger you would like to eat.</p>
        </form>
    </div>
</div>